.footer{
    background-color:#616161;
    color:white;
}
.footer-details{
    background-color:#f7f7f7;
    color:#919191;
}

.company-logos{
    .logo{
    img{
        height: 80px;
        width:200px;
        background-color: white;
        border-radius: 2rem;
        padding: 1rem;
    }
    img:nth-child(1),img:nth-child(2),img:nth-child(3){
        margin-right:1rem;
    }
}
}
.social-icon{
    i{
        font-size:20px;
        color:white;
    }
    i:nth-child(1),i:nth-child(2),i:nth-child(3){
        margin-right:2rem;
    }
}