<section class="footer pd-t-b-all">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3 ">
        <ul style="" class="leftul">
          <li>
            <a href="https://openebs.io/events" target="_blank"> Events </a>
          </li>
          <li>
            <a href="https://openebs.io/hackfests" target="_blank"> Hackfests</a>
          </li>
          <li>
            <a href="https://openebs.io/hangouts" target="_blank">Hangouts</a>
          </li>
          <li>
            <a href="https://openebs.io/meetups" target="_blank">Meetups</a>
          </li>
          <li>
            <a href="https://openebs.io/cafe" target="_blank">Cafe </a>
          </li>
          <li>
            <a href="https://www.katacoda.com/openebs/scenarios/openebs-intro" target="_blank">Training </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <ul class="rightul">
          <li>
            <a href="https://openebs.io/careers" target="_blank">Careers</a>
          </li>
          <li>
            <a href="https://openebs.io/faq" target="_blank">FAQ</a>
          </li>
          <li>
            <a href="https://openebs.io/newsletter/june2018" target="_blank">Newsletters</a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UC3ywadaAUQ1FI4YsHZ8wa0g" target="_blank"> Videos </a>
          </li>
          <li>
            <a href="https://docs.openebs.io/" target="_blank"> Docs </a>
          </li>
          <li>
            <a href="https://docs.openebs.io/docs/releasenotes.html" target="_blank">Releases </a>
          </li>
        </ul>
      </div>
      <div class="f-horizontalline"></div>
      <div class="col-12 col-md-3">
        <ul class="community">
          <li>
            <a href="https://github.com/openebs/" target="_blank" rel="noopener noreferrer">
              GitHub
            </a>
          </li>
          <li>
            <a href="https://slack.openebs.io/" target="_blank" rel="noopener noreferrer">
              Slack
            </a>
          </li>
          <li>
            <a href="https://blog.openebs.io" target="_blank" rel="noopener noreferrer">
              Blogs
            </a>
          </li>

          <li>
            <a href="https://twitter.com/openebs" target="_blank" rel="noopener noreferrer">
              Twitter
            </a>
          </li>
          <li>
            <a href="/litmus" target="_blank" rel="noopener noreferrer">
              Litmus
            </a>
          </li>
          <li>
            <a href="https://www.mayadata.io/aboutus" target="_blank" rel="noopener noreferrer">About Us</a>
          </li>
        </ul>
      </div>
      <div class="f-horizontalline"></div>
      <div class="col-md-3 f-logo-section">
        <div class="col-12 f-sec">
          <a href="https://openebs.io" target="_blank">
            <img class="f-logo" src="assets/images/openebs-logo.svg" alt="openebs-logo" title="OpenEBS">
          </a>
        </div>

        <div class="col-12 f-sec">
          <a href="https://mayaonline.io" target="_blank">
            <img class="f-logo f-logo-mo" src="assets/images/mayaonline-beta.svg" alt="mayaonline-logo" title="MayaOnline">
          </a>
        </div>

        <div class="col-12 f-sec">
          <a href="https://mayadata.io" target="_blank">
            <img class="f-logo f-logo-md" src="assets/images/mayadata-logo.svg" alt="mayadata-logo" title="MayaData">
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- <div class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="f-copyright">Copyright &copy; 2017 -2018 OpenEBS</p>
            </div>
        </div>
    </div>
</div> -->
