.pre-star-div {
    padding-left: 1rem;
    padding-top: 0.25rem;
  }
  
  .star-div {
    padding: 0.25rem 1rem;
    background-color: #e8e8e8;
    padding: 0.05rem 1rem;
    border-radius: 1rem;
  }
  
  .pre-star-div .star-div .triangle-isosceles a:hover,
  .pre-star-div .star-div .triangle-isosceles a:focus {
    color: #ee5b2a;
  }
  
  @media screen and (max-width:576px) {
    .openebs-nav-img {
      margin-left: 15px;
    }
    .dropdown-btn {
      margin-right: 15px;
    }
    .nav-div {
      padding: 0;
    }
    .social-top {
      padding: 1rem 0rem;
      box-shadow: inset 1px 4px 5px -5px grey;
      align-items: left;
      background-color: #f8f8f8;
    }
    .dropdownlinks,
    .dropdownlinks-last {
      padding-bottom: 0.75rem;
      padding-top: 0.75rem;
      padding-left: 1rem;
      font-size: 1.25rem;
      font-weight: 600;
    }
    .dropdownlinks {
      border-bottom: 1px solid grey;
    }
    .ebs-header a {
      color: grey;
    }
    .mr-l-2 {
      margin-left: 2rem;
    }
  }
  