<div class="ebs-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 nav-div">
        <nav class="navbar navbar-expand-md navbar-light ampadding" style="z-index:70;">
          <a class="navbar-brand openebs-nav-img" routerLink="/">
            <img class="desktop" src="assets/images/openebs-white.svg" alt="openebs logo" title="OpenEBS">
            <img class="mobile" src="assets/images/mule-without-tagline.png" alt="home" style="height:3rem;color:black">
          </a>
          <div class="pre-star-div">
            <div class="star-div">
              <span style="padding-left:3px;">
                <span class="triangle-isosceles">
                  <span style="font-size:0.8rem;"><i class="fas fa-heart" style="color:white;font-size: 22px;"></i></span>
                </span>
              </span>
            </div>
          </div>
          <button class="navbar-toggler navbar-toggler-left dropdown-btn" style="border-color:transparent;" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav ml-md-auto social-top ">
              <li class="nav-item mr-r-2 mr-l-2 dropdownlinks" style="display:inline;" title="Workloads">
                <a href="https://openebs.ci" target="_blank" rel="noopener noreferrer">
                  OpenEBS CI
                </a>
              </li>
              <li class="nav-item mr-r-2 mr-l-2 dropdownlinks" style="display:inline;" title="OpenEBS">
                <a href="https://openebs.io" target="_blank" rel="noopener noreferrer">
                  OpenEBS
                </a>
              </li>
              <li class="nav-item mr-r-2 mr-l-2 dropdownlinks" style="display:inline;" title="FAQ">
                <a href="https://openebs.io/litmus" target="_blank" rel="noopener noreferrer">
                  Litmus
                </a>
              </li>
              <li class="nav-item mr-r-2 mr-l-2 dropdownlinks-last" style="display:inline;" title="Twitter">
                <a href="https://slack.openebs.io/" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-slack-hash" ></i> JOIN OUR COMMUNITY
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>