.ebs-header img {
  height: 2rem;
  width: auto;
}

.ebs-header ul {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.ebs-header li:hover {
  text-decoration: underline;
}

.ebs-header a {
  color: white;
}
.triangle-isosceles a,.star-div a{
  color: white;
}

.ebs-header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pre-star-div {
  padding-left: 1rem;
  padding-top: 0.25rem;
}

.heart {
  color: white;
  vertical-align: text-top;
  font-size: 22px;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;

  -webkit-transition: font-size 1s ease-out;
  -moz-transition: font-size 1s ease-out;
  -o-transition: font-size 1s ease-out;
  transition: font-size 1s ease-out;
}

.heart:hover {
  color: red;
  font-size: 25px;
  cursor: pointer;
}

.pre-star-div .star-div .triangle-isosceles a:hover,
.pre-star-div .star-div .triangle-isosceles a:focus {
  color: #ee5b2a;
}

@media screen and (max-width:767px) {
  .ebs-header img {
    height: 1.5rem;
    width: auto;
  }
  .social-top {
    align-items: left;
  }
  .navbar {
    padding: 0;
  }
}

@media screen and (max-width:576px) {
  .openebs-nav-img {
    margin-left: 15px;
  }
  .nav-div {
    padding: 0;
  }
  .social-top {
    padding: 1rem 0rem;
    box-shadow: inset 1px 4px 5px -5px grey;
    align-items: left;
    background-color: black;
  }
  .mr-l-2 {
    margin-left: 2rem;
  }
}