<div class="openebs-build-last-update">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-between">
        <p>OpenEBS 0.7.0-RC2</p>
        <!-- <p>Last Update: 10 minutes ago </p> -->
      </div>
    </div>
  </div>
</div>

<!-- <div class="workloads">
  <div class="workload-table-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="d-flex align-items-center">
            <li>Stateful Workload</li>
            <li>Workload Configuration</li>
            <li>OpenEBS Engine</li>
            <li>OpenEBS Configuration</li>
            <li>Status</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="Workload-table-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="d-flex align-items-center">
            <li>
              <img class="workloads-img" src="assets/images/workloads-logos/mongo.svg" alt=""> MongoDB 3.0</li>
            <li>StatefulSet - 3 replicas </li>
            <li>jiva</li>
            <li>3 replica per pv</li>
            <li><i class="fas" [ngClass]="{
              'fa-check':mongoStatus === 'Running',
              'text-success':mongoStatus === 'Running',    
              'fa-times ':mongoStatus === 'Pending' || status === 'Failed',
              'fa-exclamation-triangle ':mongoStatus === 'Unknown',
              'text-danger ':mongoStatus === 'Pending' || status === 'Failed',
              'text-warning ':mongoStatus === 'Unknown'
            }" ></i> {{mongoStatus}}
              <a href="https://mongojiva.openebs.ci" target="blank">Dashboard</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="Workload-table-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="d-flex align-items-center">
            <li>
              <img class="workloads-img" src="assets/images/workloads-logos/percona.svg" alt=""> Percona Latest</li>
            <li>Deployment - 1 replicas </li>
            <li>jiva</li>
            <li>3 replica per pv</li>
            <li><i class="fas" [ngClass]="{
              'fa-check':perconaStatus === 'Running',
              'text-success':perconaStatus === 'Running',    
              'fa-times ':perconaStatus === 'Pending' || status === 'Failed',
              'fa-exclamation-triangle ':perconaStatus === 'Unknown',
              'text-danger ':perconaStatus === 'Pending' || status === 'Failed',
              'text-warning ':perconaStatus === 'Unknown'
            }" ></i> {{perconaStatus}}
              <a href="https://perconajiva.openebs.ci" target="blank">Dashboard</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="workloads">
  <div class="workload-table-header">
    <div class="container">
      <div style="overflow-x:auto;">
        <table>
          <tr style="background-color: #f7f7f7;">
            <td>Stateful Workload</td>
            <td>Workload Configuration</td>
            <td>OpenEBS Engine</td>
            <td>OpenEBS Configuration</td>
            <td>Status</td>
          </tr>
          <tr>
            <td><img class="workloads-img" src="assets/images/mongo.png" alt="">MongoDB 3.0</td>
            <td>StatefulSet-2 replicas </td>
            <td>jiva</td>
            <td>1 replica per pv</td>
            <td><i class="fas" [ngClass]="{
              'fa-check':status === 'Running',
              'text-success':status === 'Running',    
              'fa-times ':status === 'Pending' || status === 'Failed',
              'fa-exclamation-triangle ':status === 'Unknown',
              'text-danger ':status === 'Pending' || status === 'Failed',
              'text-warning ':status === 'Unknown'
            }" ></i> {{status}}
            <a href="https://mongojiva.test.openebs.io">Dashboard</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>





























<!-- <table class="table">
  <thead class="thead-dark">
    <tr>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <th width="25%">Workload</th>
            <th width="25%">Status</th>
            <th width="25%">Version</th>
            <th width="25%">Configration</th>
          </div>
        </div>
      </div>
    </tr>

  </thead>
  <tbody class="table-light">
    <tr>
      <td>
        <img src="assets/images/mong.png" class="mt-3" style="height:50px;width:70px">
        <a href="https://mongojiva.test.openebs.io/" target="_blank">
          <br>MongoDB</a>
      </td>
      <td>
        <div [ngSwitch]="status">
          <div *ngSwitchCase="'Running'">
            <button type="button" class="btn btn-round btn-success my-4">
              <i class="mr-1" style="font-size:18px"></i>Running
            </button>
          </div>
          <div *ngSwitchCase="'Failed'">
            <button type="button" class="btn btn-round btn-danger my-4">
              <i class="fa fa-exclamation-triangle mr-1" style="font-size:18px"></i>Down
            </button>
          </div>
          <div *ngSwitchDefault>
            <button type="button" class="btn btn-round btn-basic my-4">
              <i class="fa fa-clock-o mr-1" style="font-size:18px"></i>Unknown
            </button>
          </div>
        </div>
      </td>
      <td>
        <br>0.7</td>
      <td>
        <br>Application Replica : 2,
        <br>OpenEBS Replica : 1/application </td>
    </tr>
  </tbody>
</table> -->