.openebs-build-last-update {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

// .workloads {
//     li {
//         width: 20%;
//         text-align: center;
//     }
//     .workload-table-header {
//         background-color: #f7f7f7;
//         li {
//             color: #848484;
//         }
//         ul {
//             margin-bottom: 0;
//             padding-top: 8px;
//             padding-bottom: 8px;
//         }
//     }
    // .Workload-table-content {
    //     margin-top: 15px;
    //     margin-bottom: 15px;
    //     .workloads-img {
    //         height: 30px;
    //     }
    //     ul{
    //         margin-bottom: 0;
    //     }
    // }
// }

.workloads {
    .workloads-img {
        width: 40px;
        height: 40px;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }
    .workload-table-header {
        td {
            text-align: left;
            padding: 8px;
            color: #848484;
        }
        tr {
            text-align: left;
            padding: 8px;

        }
    }
}